<p class="pl-20 pt-10">
  <%= link_to "Create new article", new_article_path,
              class: "inline-block rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-center font-medium text-white hover:bg-indigo-700" %>
</p>


<ul role="list" class="divide-y divide-gray-100 p-20">
  <% @articles.each do |article| %>
    <li class="flex justify-between gap-x-6 py-5">
      <div class="flex min-w-0 gap-x-4">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900"><%= article.title %></p>
          <p class="mt-1 truncate text-xs leading-5 text-gray-500"><%= article.description %></p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-row sm:items-end">
        <p class="text-sm leading-6 text-gray-900 mr-5"><%= link_to "Show", article_path(article), class: "inline-flex items-center rounded-md bg-green-50 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 p-3" %></p>
        <p class="mt-1 text-xs leading-5 text-gray-500 mr-5">
          <%= link_to "Edit", edit_article_path(article), class: "inline-flex items-center rounded-md bg-yellow-50 text-xs font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20 p-3" %>
        </p>
        <p class="mt-1 text-xs leading-5 text-gray-500 mr-5">
          <%= link_to "Delete", article_path(article), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: "inline-flex items-center rounded-md bg-red-50 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10 p-3" %>
        </p>
      </div>
    </li>
  <% end %>
</ul>