<div class="p-20">
  <div class="px-4 sm:px-0">
    <h3 class="text-base font-semibold leading-7 text-gray-900">Article Information</h3>
  </div>
  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">Title</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @article.title %></dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">Description</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @article.description %></dd>
      </div>
      <div class="px-4 py-6 sm:flex sm:grid-cols-3 sm:gap-4 sm:px-0">
        <p class="text-sm leading-6 text-gray-900 mr-5"><%= link_to "Return to articles listing", articles_path, class: "inline-flex items-center rounded-md bg-blue-50 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10 p-3" %></p>
        <p class="text-sm leading-6 text-gray-900 mr-5"><%= link_to "Edit", edit_article_path(@article), class: "inline-flex items-center rounded-md bg-yellow-50 text-xs font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20 p-3" %></p>
        <p class="text-sm leading-6 text-gray-900 mr-5"><%= link_to "Delete", article_path(@article), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: "inline-flex items-center rounded-md bg-red-50 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10 p-3" %> </p>
      </div>
    </dl>
  </div>
</div>

